* {
	font-family: 'Open Sans', sans-serif;
	line-height: normal;
	color: var(--main-font-color);
}

.full-screen {
	height: 100vh;
	width: 100%;
	padding: 40px;
}

.flex-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

.no-select {
	user-select: none;
}

.display-none {
	display: none;
}

input {
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	outline: none;
	background-color: var(--white);
	border: 1px solid var(--input-border-color);
}

input::placeholder {
	color: var(--input-placeholder-color);
}

:root {
	--main-font-color: #333;
	--main-button-background-color: lightgrey;
	--main-button-border-color: #999;
	--input-border-color: #999;
	--input-placeholder-color: #888;
	--white: #fff;
}

.btn {
	height: 39px;
	font-size: 14px;
	border: 1px solid var(--main-button-border-color);
	background-color: var(--main-button-background-color);
	text-transform: uppercase;
	padding: 0 15px;
}

.btn--big {
	height: 45px;
	font-size: 16px;
}

.ready-status-red,
.ready-status-green {
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.ready-status-red {
	background-color: red;
}

.ready-status-green {
	background-color: green;
}

.mark {
	background-color: lightgreen;
}
