#rooms-container {
	margin: 40px -10px;
	display: flex;
	flex-wrap: wrap;
}

#rooms-container .room {
	min-width: 300px;
	margin: 10px;
}

.room {
	border: 1px solid var(--main-button-border-color);
	padding: 20px;
}

.room {
	display: flex;
	flex-direction: column;
}

.room .room__name {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

#room-name {
	margin-bottom: 10px;
}

.user-card {
	max-width: 100%;
	margin-bottom: 20px;
}

.user-progress {
	width: 100%;
	height: 20px;
	border: 1px solid var(--main-button-border-color);
	margin-top: 5px;
	position: relative;
}

.user-progress span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0%;
	background-color: lightgreen;
}

.user-progress.won span {
	background-color: greenyellow;
}

#users-container {
	margin-top: 20px;
}

#game-page > div {
	flex: 1;
}

#game-page > div:first-child {
	padding-right: 20px;
}

#game-page > div:last-child {
	flex: 3;
}

.game-field {
	position: relative;
	border: 1px solid var(--main-button-border-color);
}

#game-timer {
	position: absolute;
	top: 0;
	right: 0;
}
